.sortingPage {
    min-height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.numbers {
    min-height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.number {
    color: white;
    background-color: white;
    width: 1;
}

.sortingPageHeader {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sortingPageHeader button {
    background: none;
	color: inherit;
	padding: 0;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    border: white 2px solid;
    border-radius: 5px;
    color: white;
    //font-weight: bold;
    font-size: 20px;
}

.sortingPageHeader button:hover {
    text-shadow:    0 0 10px #ffffff,
                    0 0 20px #ff99ff,
                    0 0 30px #ff44ff,
                    0 0 40px #ff00ff;

    box-shadow: 0 0 10px #ffffff,
                0 0 20px #ff99ff,
                0 0 30px #ff44ff,
                0 0 40px #ff00ff,
                inset 0 0 10px #ffffff,
                inset 0 0 20px #ff99ff,
                inset 0 0 30px #ff44ff,
                inset 0 0 40px #ff00ff;
}

.sortingPageHeader input {
    background: none;
	color: inherit;
	padding: 0;
    padding-left: 20px;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    border: white 2px solid;
    border-radius: 5px;
    color: white;
    //font-weight: bold;
    font-size: 20px;
}

.sortingPageHeader input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sortingPageHeader input:hover {
    text-shadow:    0 0 10px #ffffff,
                    0 0 20px #ff99ff,
                    0 0 30px #ff44ff,
                    0 0 40px #ff00ff;

    box-shadow: 0 0 10px #ffffff,
                0 0 20px #ff99ff,
                0 0 30px #ff44ff,
                0 0 40px #ff00ff,
                inset 0 0 10px #ffffff,
                inset 0 0 20px #ff99ff,
                inset 0 0 30px #ff44ff,
                inset 0 0 40px #ff00ff;
}