.pathFindingPage {
    min-height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    background-color: var(--color-snow-white);
}

.input {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.inputNumber {
    width: auto;
}

.square {
    width: 50px;
    height: 50px;
    
    border-radius: 3px;
}

.startPoint {
    background-color: green;
}

.obstacle {
    background-color: black;
}

.endPoint {
    background-color: green;
    background: url("./../../../assets/flag.jpeg");
    background-size: 50px 50px;
    background-color: white;
}

.board {
    width: 80%;
    height: 80vh;
    padding: 2px;
    background-color: black;

    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr);
}

.cell {
    background-color: red;
    border-radius: 3px;
}

.cell:hover {
    filter: blur(20px);
    box-shadow: 0 0 0 50px var(--color-blue-rgba-1),
        0 0 100px var(--color-blue-rgba-2),
        0 0 200px var(--color-blue-rgba-3),
        0 0 250px var(--color-blue-rgba-4);
}