.aboutMePage {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--color-white);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.aboutMeSection {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.pacrousSection {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}



//.aboutMePage p{
//    color: var(--color-dark-black);
//}

.profilePicure {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 5px grey solid;
}

#aboutMeDescription {
    max-width: 1000px;
}

.aboutMePage {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 50px;
    color: var(--color-snow-white);
    background-color: var(--color-about-me-oxford-blue);
}

.amTitle {
    font-size: 50px;
    margin: 20px;
}

.amDescription {
    max-width: 600px;
    font-size: 20px;
    margin: 20px;
}

.amExperienceList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.amExperience {
    max-width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-about-me-ultra-violet);
    padding: 10px;
    margin: 20px;
}

.amExperienceYear {
    color: var(--color-about-me-napple-yellow);
}

.amExperienceJob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.amExperienceTitle {
    font-size: 20px;
    font-weight: bold;
}

.amExperiencePlace {
    color: var(--color-about-me-cool-grey);
}

.amExperienceDescription {
    color: var(--color-about-me-rich-black);
}

.test {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    //border: 2px yellow solid;
    //top: calc(175px + (200px * sin(45deg)));
    //right: calc(175px + (200px * cos(45deg)));
    //right: calc(200px * cos(45deg));
    //transform: rotateX(-90deg) rotateY(-45deg);
}

.amSkills {
    width: 800px;
    height: 800px;
    position: relative;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    border: 7px var(--color-about-me-ultra-violet) solid;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: rotateX(70deg);
    animation: turn 6s forwards 0s infinite linear;
    animation-play-state: paused;
}

.amSkills:hover {
    animation: turn 6s forwards 0s infinite linear;
    //animation-play-state: paused;
}

@keyframes turn {
    from {transform: rotateX(70deg) rotateZ(0deg) ;}
    to {transform: rotateX(70deg) rotateZ(360deg) ;}
}